.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 8px;
        box-shadow: 0px 0px 17px -7px rgb(0 0 0) !important;

}
.contaier{
    width:  50% important;
    height: 50% !important;
    border-radius: 10px !important;
}
.img{
    width: 200px important;
    height: 200px !important;
    border-radius: 10px !important;
}